.spacing {
  flex: 1 1 auto;
}
.search{
  margin-left: 20%;
  border: none;
  // background-color: white;
  // height: 40px;
  // width: 100px;
}
.main
{
  height: auto;
  width: auto;
  background-color:lightsteelblue;
  // rgb(231, 239, 241);
}
 a :active
{
  color: #F97924;
}