.well div
{
    color: #bbb;
    
}
.text-font
{
    font-family: Lucida Console, Courier, monospace;
}
.thumbnail
{
    min-height: 210px;    
}
.green
{
    color:green;
}
//  rgb(13, 233, 13);
.red
{
    color: rgb(230, 146, 146);
}
.yellow
{
    color: khaki;
}
.bold
{
    font-weight: bold;
}