<p>players works!</p>
<div style="text-align: center;">
    <!-- <input type="text" [(ngModel)]="searchName"> -->
</div>
<div style="text-align: center;">
    <h2 style="color: navy;">Top players</h2>
    <br>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>4 Run</th>
                <th>6 Run</th>
                <th>total Run</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let p of players">
                
                <td>{{p.name}}</td>
                <td>{{p.team}}</td>
                <td>{{p.run}}</td>
                <td></td>
                <td></td>
            </tr> -->
            
        </tbody>
    </table>
</div>
